.grade-entry{
    color: white;
    height: 2rem;
    width: 2rem;
    display: inline-block;
    text-align: center;
    line-height: 2rem;
    box-shadow: 1px 1px 2px black;
    background: #0d6efd;  /* fallback for old browsers */
    margin: 0.5rem 0.25rem 0.25rem;

}
.grade-entry:hover{
    cursor: pointer;
}

.grade-popover{
    font-size: 0.625rem;
}
.grade-popover-header{
 font-size: 0.7rem;
}