.grade{
    color: white;
    margin: 3px;
    height: 1.5rem;
    width: 1.5rem;
    display: inline-block;
    text-align: center;
    box-shadow: 1px 1px 2px black;
    background: #3a7bd5;  /* fallback for old browsers */




}
.grade:hover{
    cursor: pointer;
}

.grade-popover{
    font-size: 0.625rem;
}
.grade-popover-header{
 font-size: 0.7rem;
}